# create .env file in root and put your OPENAI_API_KEY there.
CLIENT_SECRET="YOUR CLIENT SECRET" (required)
HUGGINGFACE_API_KEY="YOUR_API_KEY" (not-required)

# Database configuration
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=your_host
DB_PORT=5432
DB_NAME=your_database_name
DB_SCHEMA=your_schema_name
